<html>
    <head>
        <title>Joe Chatelain Backend-Dev</title>
        <script src='https://unpkg.com/vue@2.4.4/dist/vue.js'></script>
        <link href="css/mycss.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <meta name="description" content="A new Portfollio using Vue reactive properties and Bulma">
        <link href="images/Logo noir.svg" type="image/ai" rel="shortcut icon">
    </head>
    
    <body>
        <section class:= "hero is-fullheight">

        </section>

        <div>
            <h1 class='page-title'> 
                portfollio
            </h1>
        </div>

        <div id ='app'>
            <input type='text' id='thoughts-input' v-model='message'>
            <p>Tell me, what is on your mind: {{ message }}</p>
        </div>

        <div id="taksList">
            <ul class="block-list is-small is-centered">
                <li v-for='task in tasks' v-text='task'></li>
            </ul>
            <input id='input' type='text' v-model='newTask'>
            <button @click='addTask'>Add task</button>
        </div>

        <div id="giffy">
            <button @click="toggleClass(); working = !working">Let's work</button>
            <button @click="toggleClass(); sleeping = !sleeping">Let's sleep</button>

            <p v-if="working">
                <img src=images/gif5.gif>
            </p>
              <p v-else-if="sleeping">
                <img src=images/gif7.gif>
              </p>
        </div>


        
        <div id="modal">
            <button @click="showMessageModal = true">Show Modal</button>

            <modal v-show="showMessageModal" @close-modal="showMessageModal = false">Butterflies in the skies roaring like dragons trapped in my belly.
                The beauty of the sight caught my soul off-guard, sending it to a world of chemical chaos one could only
                describe as a tempestuous disarray of reality.
            </modal>
        </div>

        <div id="tabs-template" class="container">
            <tabs>
                <tab name="About me" :selected="true">
                    <p>The fairy in the ocean was sure the end was night and though it was
                        only her feeling that was bringing it to an end, the mere fact of
                        her belief was the trigger for all the following events.
                    </p>
                </tab>
                <tab name="The belief">
                    <p>Nothing was less sure than the outcome. It would have been easier to
                        win the annual lottery of the morgning star rather than following 
                        this chain of micro-reactions. 
                    </p>
                </tab>
                <tab name="The beginning">
                    <p>But everything has a beginning, and before we go on narrating the
                        intrecate repercutions, the wing of a butterfly can have. We shall 
                        go back to the first month of the Galapian year.
                    </p>
                </tab>
            </tabs>
        </div>

        <div id="big-modal">
            <button @click="showBigModal = true">Show me the love</button>

            <bigmodal v-if="showBigModal" @close-big-modal="showBigModal = false">

                <template slot="bigModalBody">And as he was wondering how only one country could exist 
                    in this world of so many cultures. The fool on the hill was progressevely understanding
                    the seemingly infinite number of disputes, oppositions and misunderstandings that had 
                    to be solved in order for his eyes to sight this colorful landscape. A landscape that 
                    almost feels natural now.
                </template>

            </bigmodal>
        </div>

        <div id="clickcounter" class="countainer">
            <counter-view inline-template>
                <div>
                    <h1>How many times can you click on this button? {{ clickedTimes }} times</h1>

                    <button @click="clickedTimes += 1">Go as fast as possible</button>
                </div>
            </counter-view>
        </div>
    <script src='main.js'></script>
    </body>
</html>