<html>
    <head>
        <script src='https://unpkg.com/vue@2.4.4/dist/vue.js'></script>
    </head>
    <body>
        <div>
            <title class='page-title'> 
                portfollio
            </title>
        </div>

        <div id ='app'>
            <input type='text' id='thoughts-input' v-model='message'>
            <p>Tell me, what is on your mind: {{ message }}</p>
        </div>

        <script>
            new Vue ({
                el:'#app',
                data: {
                    message:'Hello World'
                }
            })
        </script>

        <div id="taksList">
            <ul>
                <li v-for='task in tasks' v-text='task'></li>
            </ul>
            <input id='input' type='text' v-model='newTask'>
            <button @click='addTask'>Add task</button>
        </div>

        <script>
            var appli = new Vue ({
                el:'#taksList',
                data: {
                    newTask:'',
                    tasks:['Do the Groceries', 'Water the plants', 'Enjoy the afternoon spray', 'Be double great at the morning']
                },

                methods: {
                    addTask() {
                        this.tasks.push(this.newTask);
                        this.newTask='';
                    }
                },
            });
        </script>

        <div id="giffy">
            <button @click="toggleClass(); working = !working">Let's work</button>
            <button @click="toggleClass(); sleeping = !sleeping">Let's sleep</button>

            <p v-if="working">
                <img src=images/gif5.gif>
            </p>
              <p v-else-if="sleeping">
                <img src=images/gif7.gif>
              </p>
        </div>

        <script>
            new Vue ({
                el: "#giffy",

                data: {
                    working: false,
                    sleeping: false
                },

                methods: {
                    toggleClass() {
                        if (working = true) {
                            this.working = false
                        } else if (sleeping = true) {
                            this.sleeping = false
                        }
                    }
                }
            })
        </script>
    </body>
</html>